a, article, body, div, footer, figure, figcaption, header, h1, h2, h3, img, li, nav, p,section, ul {
	
	border: 0;
	margin: 0;
	padding: 0;
}

ul, ol {
	list-style-type: none;
}
html {
	font-size: 12px;
}
img {
	width: 100%;
}
.logo {
	width: 25%;
	float: left;
	padding:  0 2%;
	display: none;
}

/*  body style rule */
body {
	background-color: #fff;
	color: #3E3D3C;
	font-family: 'Fira Sans', Tahoma, Arial, Helvetica, sans-serif;
	position: relative;
}

/* figuer section */
section.media {
	width: 96%;
}
.media figure {
	width: 46%;
	float: left;
	display: inline-block;
	margin: 1em 2%;
}
figcaption{
	font-size: 1.5em;
	text-align: center;
}
/* navigation style rule */
nav {
	/*padding: 2%;*/
	/*width: 96%;*/
	/*overflow: auto;*/
	background-color:white;
	padding: 1em 1%;
	width: 230px;
	height: 800px;
	position: fixed;
	display: none;
	left: 0;
	top: 0;
	z-index: 2;
	
	text-align: center;
	box-shadow: 2px 2px 20px #777;
	
}

nav ul li{
	
	display: block;
	margin-right: 3em;
	font-size: 2em;
	margin-top: 3em;
	border-bottom: 0.5px solid #777;
	margin-bottom: 1em;
}
nav ul li a {
	text-decoration: none;
	color: purple;
}

 nav ul li a:hover, nav ul li:hover{
	color: black;
	background-color: #19ED76;
 }
 
.nav-ul {
	float: right;
}
#menu {
	width: 60px;
	margin: 0.5em;
	float: right;
	cursor: pointer;
}
/* article style rule */
article{
	width: 100%;
}
.cont-div {
	width: 100%;
	margin: 0 0 1em;
	height: 200px;	
	background-color: purple;
	position: relative;
	top: 68px;
	
}
.map {
     margin: 1em 2%;
}
.cont-div h2 {
	padding: 4%;
	font-size: 3em;
	color: white;
	text-align: center;
}
#article-p {
	font-size: 1.5em;
	padding: 0 1em 1em;
	line-height: 1.5em;
	/*width: 60%;*/
	margin-left: 1em;
}
h3 {
	font-size: 1.8em;
	padding: 2%;
	margin-left: 1.5em;
	color: purple;
}
#a-h3{
	margin-top: 90px;
}

article img.schoolpix {
	width: 90%;
	padding: 1em 2%;
	margin: 1em auto;
}
section{
	width: 80%;
	padding: 0 2%;
	/*margin: 0 auto; */
	margin: 0 auto;
	overflow: auto;
	background: white;
}
.enroll {
	
	width: 90%;
	height: 200px;
	margin: 1em auto;
	background-color: #f2f2f2;
}
.enroll h2 {
	color: gray;
	padding:  1em 2% 0.2em;
	font-size: 3em;
}
.enroll p {
	font-size: 1.2em;
	padding: 0 2% 0;
}
section  iframe {
	width: 100%;
}
section.section-1{
	width: 96%;
	padding: 0 2%;
	margin: em 0;
	/*background: url("images/schoolpix.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	opacity: 0.5; */
	background-color: green;
	overflow: auto;
}
section.academics {
	width: 90%;
	margin: 2%;
}
.academics img {
	width: 50%;
	margin: 2%;
	display: inline-block;
	float: left;
} 
.academics p  {
	width: 40%;
	float: right;
	text-align: left;
}
section.section-1 img {
	width: 10%;
	padding: 0 1em;
	display: inline;
	position: relative;
	top: 8px;
	display: inline;
}
section.section-2 {
	width: 80%;
	padding: 0 2%;
	margin: 2em auto;
	overflow: auto;

}
.school-secion1 {
	width: 90%;
	height: 550px;
	background-color: orange;
	border-radius: 2%;
}

.school-secion2 {
	width: 90%;
	height: 550px;
	margin: 1em 2%;
	background-color: green;
	border-radius: 2%;
}
	
.school-secion3 {
	width: 90%;
	height: 510px;
	margin: 1em 0;
	background-color: purple;
	border-radius: 2%;

}
.school-secion4 {
	width: 90%;
	height: 400px;
	margin: 2em 0.5em;
	background-color: orange;
	
	border-radius: 2%;
}
.school-secion5{
	width: 90%;
	margin: 2em 2%;
	background-color: orange;
	height: 400px;
	border-radius: 2%;
}
/* school section 6 -11 */
.school-secion6{
	width: 90%;
	height: 200px;
	margin: 0 2%;
	border-radius: 2%
}
.school-secion7{
	width: 90%;
	height: 200px;
	margin: 0 2%;
	border-radius: 2%;
}
.school-secion8{
	width: 90%;
	height: 200px;
	margin: 0;
	border-radius: 2%;
}
.school-secion9{
	width: 90%;
	height: 200px;
	margin: 0;
	border-radius: 2%;
}
.school-secion10{
	width: 90%;
	height: 200px;
	margin: 0;
	border-radius: 2%;
}
.school-secion11{
	width: 90%;
	height: 200px;
	margin: 0 2%;
	border-radius: 2%;
}

/* Unodered list */
.dna ul  {
   padding: 0 2em 2em;
   margin-left: 5em;
}
.dna ul li {
	line-height: 1.8em;
	font-size: 1.5em;
	list-style-type: square;
}
article ol {
	width: 80%;
	padding: 2%;
	margin-left:1.5em;
}
article ol li {
	font-size: 1.5em;
	font-variant: 600;
	margin-left: 2em;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	list-style-type: decimal;
	line-height: 1.4em;
}
.board ul{
	margin-left:1.4em;
	width: 60%;
	padding: 2%;
}

.board li {
	font-size: 1.4em;
	font-variant: 600;
	margin-left: 4em;
	font-family: Tahoma, Arial, Helvetica, sans-serif;
	list-style-type: disc;
	line-height: 1.4em;
}

/* school sction 12 - 14 */
.school-secion12 {
	width: 90%;
	height: 200px;
	
	border-radius: 5%;
	border: 1px dashed #777;
	box-shadow: 0 0 20px #777;
}
	
.school-secion13 {
	width: 90%;
	height: 200px;
	/* margin: 0 4%; */
	margin: 2% 0;
	border-radius: 5%;
	border: 1px dashed #777;
	box-shadow: 0 0 20px #777;

}
.school-secion14 {
	width: 90%;
	height: 200px;
	
	border-radius: 5%;
	border: 1px dashed #777;
	box-shadow: 0 0 20px #777;
}
	

section p {
	font-size: 1.4em;
	padding: 2%;
	text-align: center;
	color: black;
	line-height: 1.7em;
	font-family: 'Fira Sans', Tahoma, Arial, Helvetica, sans-serif;
}
.section-1 p {
	font-size: 1.5em;
	padding: 2%;
	text-align: center;
	color: white;
	font-family: 'Fira Sans', Tahoma, Arial, Helvetica, sans-serif;
}
/* heading style rule */
h1, h2, h3 {
	font-family: 'Crete Round',"Times New Roman", Times, serif;

}
section h2 {
	padding: 1em 0 0.3em;
	font-size: 2.5em;
	color: white;
	text-align: center;
}
.section-1  h3 {
	padding: 1em;
	font-size: 2em;
	color: white;
	text-align: center;
}
.section-2 h2 {
	color: purple;
}
.section-2 p {
	color: #3E3D3C;;
}
header{
	padding: 4em 4em 1em;
	/*clear: both; */
}
#span-welc {
	color: gray;
}
header h1 {
	font-size: 2em;
	color: purple;
	margin-left: 1em;
}

/* footer section */
.footer-nav {
	text-align: center;
	padding: 2%;
}
.footer-nav  ul li {
	display: inline;
	font-size: 1.5em;
	margin-left: 1.2em;
	color: green;
}
.footer-nav ul li a {
	text-decoration: none;
	color: purple;
}
.footer-nav p {
	padding: 2%;
	font-size: 1.2em;
}
.tel {
	text-decoration: none;
}

/* standard desktop screen styles */
@media screen and (min-width: 820px) {
	.logo {
	width: 25%;
	float: left;
	padding:  0 2%;
	}
	body {
		position: relative;
		z-index: -1;
		top: 90px;
	}
	.logo {
	width: 10%;
	display: block;
	}
	#menu{
		display: none;
	}
	nav {
		padding: 2%;
	    width: 96%;
		position: fixed;
		top: 0;	
		box-shadow: 0 0 20px #777;
		display: block;
		text-align: center;
		height: 60px;	
		}
	nav ul li{
	margin-left: 2em;
	display: inline;
	font-size: 1.8em;
	}
	article img.schoolpix {
	width: 90%;
	}
	header h1 {
	font-size: 4em;
	color: purple;
	margin-left: 1.8em;
	}
	.cont-div {
	margin: 1em 0 1em;
	position: relative;
	top: 0;
	}
	section {
		margin: 2% auto;
		width: 80%;
	}
	.school-secion1 {
		width: 32%;
		height: 450px;
		margin: 1em 0;
		float: left;	
	}
	.school-secion2 {
		float: left;
		height: 450px;
		margin: 1em 1%;
		width: 32%;		
	}
	.school-secion3 {
		width: 32%;
		margin: 1em 1%;
		height: 450px;
		float: right;
	}
	.school-secion4 {
		width: 30%;
		margin: 2em 0;
		float: left;
		height: 510px;
	}
	.school-secion5 {
		float: left;
		width: 30%;
		height: 510px;
	}
	/* section 6 - 11 */
	.school-secion6 {
		float: left;
		width: 30%;
	    height: 200px;
	}
	.school-secion7 {
		float: left;
		width: 30%;
		height: 200px;
	}
	.school-secion8 {
		float: right;
		width: 30%;
		height: 200px;
	}
	.school-secion9 {
		float: left;
		width: 30%;
		height: 200px;
	}
	.school-secion10 {
		float: right;
		width: 30%;
		height: 200px;
	}
	.school-secion11 {
		float: left;
		width: 30%;
		height: 200px;
	}
	/* section 12 - 14 */
	.school-secion12 {
		float: left;
		width: 30%;
		height: 200px;
	}
	.school-secion13 {
		margin: 0 4%;
		float: left;
		width: 30%;
		height: 200px;
	}
	.school-secion14 {
		float: right;
		width: 30%;
		height: 200px;
	}
	.cont-div {
	width: 100%;
	margin: 0 0 1em;
	height: 200px;
	background-color: purple;
	}
	#article-p {
	font-size: 1.5em;
	padding: 0 1em 1em;
	width: 60%;
	margin-left: 6em;
	}
	#a-h3{
	margin-top: 0;
}
	article ol {
		margin-left: 5em;
	}
	article ol li {
		font-size: 1.6em;	
	}
	.board ul {
		width: 60%;
	}
	.board li {
		font-size: 1.6em;
		margin-left: 7.5em;
	}
}
